/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 3000px;

}


section {
    padding: 50px;
}

#about, #projects, #contact #Resumet {
    background-color: #f4f4f4;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
body  section {
    background-image: url(pexels-sebastian-arie-voortman-189349.jpg);

}